.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  label, input {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  #password {
    margin-top: 20px;
    padding: 5px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
  }
  